{% extends 'base.html' %}

{% block content %}
    <h1>{{ member.username }}의 프로필 페이지</h1>

    <div>
        <h2>이름 : {{ member.username }}</h2>
        <p>
            팔로워 : {{ member.followers.count }}명
            팔로잉 : {{ member.following.count }}명
        </p>
    </div>

    <div>
        {% if request.user != member %}
        <form action="{% url 'users:follow' member.pk %}" method="POST">
            {% csrf_token %}
            {% if user in member.followers.all %}
                <button type="submit">언팔로우</button>
            {% else %}
                <button type="submit">팔로우</button>
            {% endif %}
        </form>
        {% endif %}
        
    </div>

    <a href="/">홈으로 돌아가기</a>

{% endblock content %}