{% extends "base.html" %}

{% block content %}

<h2>글 상세 페이지</h2>
<p>제목: {{ product.title }}</p>

{% if product.image %}
<img src="{{ product.image.url }}">
{% endif %}

<p>내용: {{ product.content }}</p>
<p>작성일시: {{ product.created_at }}</p>
<p>수정일시: {{ product.updated_at }}</p>

<a href="{% url 'products:products' %}"><button>목록 보기</button></a>

<hr>



<form action="{% url 'products:delete' product.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="글삭제">
</form>


<hr>


{% endblock content %}