{% extends "base.html" %}

{% load static %}
{% block content %}

<div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-6">
        <P><img src="/media/images/teddy-bear.png" class="card-img-top" alt="..."></P>
        <p>상품명: {{ product.title }}</p>

        {% if product.image %}
        <img src="{{ product.image.url }}">
        {% endif %}

        <p>내용: {{ product.content }}</p>
        <p>내용: {{ product.author }}</p>
        <p>글 작성일: {{ product.created_at|date:"Y/m/d H:i" }}</p>

        
        <hr>
        {% if product.author_id == user.pk %}
        <div class="row">
            <div class="col text-start">
                <a href="{% url 'products:update' product.pk %}" class="btn btn-warning">글 수정</a>
            </div>
            <div class="col text-end">
                <form action="{% url 'products:delete' product.pk %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">글 삭제</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
    <div id="floating-button" class="text-end">
        <a href="{% url 'products:products' %}" id="back-to-top-button">Home</a>
    </div>
</div>

<script>
    window.onload = function () {
        document.getElementById("back-to-top-button").addEventListener("click", function (event) {
            event.preventDefault(); // 기본 동작 방지
            window.location.href = "/products"; // 홈으로 이동
        });
    };
</script>
{% endblock content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">